/* ---------------------------------------------------
    IMPORT FONTS
----------------------------------------------------- */
@font-face {
    font-family: 'appNameFont';
    src: url('../font/Montserrat-ExtraLight.otf');
}

@font-face {
    font-family: 'titleFont';
    src: url('../font/Montserrat-Light.otf');
}
/* ---------------------------------------------------
    NEW STYLE SITE
----------------------------------------------------- */
body{
  background: url('../img/1.jpg');
  background-size: cover;
}
.navbar,
.footer{
  background: transparent;
}

.checkbox-invoice input{
  margin-top: 0;
  margin-right: 10px;
}

a:hover{
  color: #FF5A09;
}

.wrapper{
  height: auto;
}

a[aria-expanded="true"]::before,
a[aria-expanded="false"]::before, a[aria-expanded="true"]::before{
  content: none !important;
}

.nav-tabs{
  border-bottom: 1px solid #FF9901;
}

.info-dash{
  height: 60px;
  background-color: rgba(110, 110, 110, 0.8);
  padding: 0;
  margin: 10px 0;
  display: inline-block;
}

.info-dash span{
  color: #ffffff;
  padding: 10px;
  margin: 0 auto;
  font-size: 40px;
  vertical-align: middle;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: url('../img/sidebar.jpg');
    background-size: cover;
    color: #fff;
    transition: all 0.3s;
    border-right: 1px solid #bf6744;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
    margin: 0 auto;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
  text-align: center;
    padding: 0;
    background: transparent;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #bf6744;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #ffffff;
}
#sidebar ul li a i {
    margin: 0 auto;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.toggle{
  width: 40px;
  margin: 0 90px;
}

.toggle .btn-default{
  border: none;
  color: #ffffff;
  font-size: 30px;
}

#sidebar.active .toggle {
  margin: 0 10px;
}
/* ---------------------------------------------------
    INDEX STYLE
----------------------------------------------------- */
div.panel-stats{
  background: #141E30;
  background: -webkit-gradient(linear, left top, right top, from(#0c2646), color-stop(60%, #204065), to(#2a5788));
  background: linear-gradient(to right, #0c2646 0%, #204065 60%, #2a5788 100%);
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.swal-icon--success:after, .swal-icon--success:before,
.swal-icon--success__hide-corners{
  background: transparent;
}
.main-panel{
  width: 100%;
  height: auto;
  overflow: hidden;
}

.logo{
  font-family: 'appNameFont';
  font-size: 25px;
  text-align: center;
}

.form-containers,
.card,
.dashboard-content{
  background: rgba(255,90,9, 0.55);
  padding: 20px;
  border-radius: 10px;
}

.card{
  padding-bottom: 45px;
}

.formMilestone{
  background-color: #6E6E6E;
  padding: 20px;
}

#btnAddMilestone,
#btnAddTask{
  background-color: #FF5A09;
  border-color: #FF5A09;
  color: #FFFFFF;
}

.modal-title {
  color: #FFFFFF;
}

.modal-body{
  padding: 35px;
}

.modal-body input{
  border-color: #FF9900;
}

.modal-footer {
  border-top: 1px solid #FF9900;
}

.modal-header{
  border-bottom: 1px solid #FF9900;
}

table tr th,
table tr td,
table tr td a{
  border: none !important;
  font-size: 14px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
  padding: 5px 8px;
}

label{
  font-size: 14px;
  font-weight: bold;
}

.btn-form{
  float: right;
  background-color: #FF9900;
  color: #FFFFFF;
  border: 1px solid #FF9900;
}

.btn-form:hover{
  background: transparent;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.related h4{
  margin-top: 0;
}

.formInvoiceModal .form-group{
  padding-right: 20px;
}

.zoom-fab {
  background-color: #FF9900 !important;
}

.specific-name{
  display: none;
}

.btn-tracking{
  float: right;
  margin-bottom: 20px;
}

.alert-success{
  background-color: rgba(92,184,92, .6);
}

.alert-danger{
  background-color: rgba(252,114,122,.6);
}

.alert-info{
  background-color: rgba(99,216,241, .6);
}

/* ---------------------------------------------------
    DATATABLES STYLE
----------------------------------------------------- */
th.sorting_disabled{
  color: #ffffff !important;
  font-size: 14px !important;
}

th.sorting{
  color: #ffffff !important;
  font-size: 14px !important;
}

th.sorting_asc a,
th.sorting a,
th.sorting_desc a{
  color: #ffffff !important;
  font-size: 14px !important;
}

.table-striped>tbody>tr:nth-of-type(odd){
  background-color: #F3843E;
}
.dataTables_info{
  color: #FFFFFF;
}

.btn-info,
.dropdown-toggle,
.open>.dropdown-toggle.btn-info:focus, .open>.dropdown-toggle.btn-info:hover{
  border-color: #FFFFFF;
  color: #FFFFFF;
}
.btn-info:hover{
  border-color: #FF5A09;
  color: #FF5A09;
}

.open>.dropdown-toggle.btn-info:focus, .open>.dropdown-toggle.btn-info:hover{
  background-color: #FF5A09;
}

.dataTables_length label,
.dataTables_filter label,
.dataTables_info{
  font-size: 12px;
}

.dataTables_length select{
  width: 44px;
  height: 23px;
}

.dataTables_filter input{
  height: 15px;
padding: 15px;
}

.pagination>.active>a{
  background-color: #f3833e;
  border-color: #f89802;
}

.pagination>li>a{
  color: #FF9900;
}

.pagination>.active>a:hover,
.paginate_button a:hover{
  background: #FF9900;
  border-color: #FF9900;
}

.due.selected{
  background-color: #6e6e6e !important;
}

.multiple-down{
  float: right;
  width: 115px;
  display: none;
}

.multiple-down button{
  margin-left: 2px;
}

.title-data .navBtn{
  padding-top: 18px;
  display: none;
}

.title-data .navBtn a{
  font-size: 14px;
  color: #ffffff;
}

div.dataTables_wrapper div.dataTables_length select{
  width: 45px !important;
  height: 21px;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after{
  bottom: 2px !important;
  right: 6px !important;
  font-size: 12px !important;
}

.table-responsive{
  overflow-x: auto;
}
/* ---------------------------------------------------
    MARQUEE STYLE
----------------------------------------------------- */

div.marquee,
div.fade-left,
div.fade-right,
span.marquee-message,
div.marquee-container,
div.marquee-container .col-md-12{
  margin: 0;
  padding: 0;
}

div.marquee{
  width: 100%;
  text-align: center;
  background: rgb(57,57,57, .85);
  position: relative;
  overflow: hidden;
  height: 30px;
  -moz-box-shadow:    1px 1px 1px #434343;
  -webkit-box-shadow: 1px 1px 1px #434343;
  box-shadow:         1px 1px 1px #434343;
}

span.marquee-message {
	color: #ffffff;
	font-family: 'appNameFont';
	white-space: nowrap;
	margin: 5px 60px;
	display: inline-block;
}

div.fade-left {
  background: -moz-linear-gradient( left, rgba(57,57,57,1) 12%, rgba(57,57,57,0) 100% );
  background: -webkit-gradient( linear, left top, right top, color-stop(12%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0)) );
  background: -webkit-linear-gradient(left, rgba(57,57,57,1) 12%, rgba(57,57,57,0) 100%);
  background: -o-linear-gradient(left, rgba(57,57,57,1) 12%, rgba(57,57,57,0) 100%);
  background: -ms-linear-gradient(left, rgba(57,57,57,1) 12%, rgba(57,57,57,0) 100%);
  background: linear-gradient(to right, rgba(57,57,57,1) 12%, rgba(57,57,57,0) 100%);
  position: absolute;
  left: 0;
  height: 30px;
  width: 10%;
}

div.fade-right {
	background: -moz-linear-gradient( right, rgba(57,57,57,1) 12%, rgba(57,57,57,0) 100% );
	background: -webkit-gradient( linear, right top, right top, color-stop(12%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0)) );
	background: -webkit-linear-gradient( right, rgba(57,57,57,1) 12%, rgba(57,57,57,0) 100% );
	background: -o-linear-gradient( right, rgba(57,57,57,1) 12%, rgba(57,57,57,0) 100% );
	background: -ms-linear-gradient( right, rgba(57,57,57,1) 12%, rgba(57,57,57,0) 100% );
	background: linear-gradient( to left, rgba(57,57,57,1) 12%, rgba(57,57,57,0) 100% );
	position: absolute;
	right: 0;
	height: 30px;
	width: 10%;
}

#tableInvoices,
.dash-tab-content{
  padding-top: 5px;
}

#tableInvoices tr td,
#tableInvoices tr th{
  font-size: 12px;
  height: 10px;
  padding: 0 8px;
}

.due{
  background-color: red !important;
}

.discard{
  background-color: #6e6e6e !important;
  text-decoration: line-through;
}
#tbInvoices div.actions button{
  border: none;
}

.filter-invoice input,
.filter-invoice select{
  padding: 14px;
  height: 30px;
}
.filter-invoice input{
  height: 10px;
}

.filter-invoice label{
  font-size: 12px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
  background: rgba(110, 110, 110, .5);
  color: #ffffff;
}

.btn-danger,
.progress-bar-danger{
  background: #ff000f;
  border-color: #ff000f;
  color: #ffffff;
}

#divCalendar table{
  background: none;
}

.fc-unthemed td.fc-today{
  background: rgba(255,84,9,.6) !important;
}

.fc-event{
  background-color: #FF9900 !important;
}

.right-side legend,
.right-side input{
  color: #6E6E6E;
}

#colSDP,
#colEDP{
  display: inline;
  padding-top: 9px;
}

.dates{
  padding-top: 9px;
}

.permissions{
  margin-bottom: 10px;
}

.btn-success{
  background: #0fde0f;
  border-color: #0fde0f;
  color: #ffffff;
}

.panel-body {
    background: rgba(57,57,57,.84);
    border: none !important;
}

.panel-default,
.panel-heading{
  border: none;
}

.org-content{
  padding-top: 100px !important;
}

.img-org{
  width: 475px;
  box-shadow: 16px 26px 22px #6e6e6e;
  -moz-box-shadow: 16px 26px 22px #6e6e6e;
	-webkit-box-shadow: 16px 26px 22px #6e6e6e;
	-khtml-box-shadow: 16px 26px 22px #6e6e6e;
}

.footer .copyright{
  color: #ffffff;
}

button.typeInvoice{
  border: none;
  color: #ffffff;
}

.stats-invoices{
  font-size: 15px;
  color: #FFFFFF;
  top: 72px;
  right: 0;
  position: fixed;
  padding: 20px;
  cursor: pointer;
  border-radius: 1.5em;
  background-color: rgba(43,59,76,.7);
}

.file-drop-zone-title,
.krajee-default.file-preview-frame .kv-file-content,
.krajee-default .file-footer-caption{
  color: #ffffff !important;
}

.swal-icon--warning{
  border-color: #FF5A09;
}

.btn-remove{
  margin-top: 25px;
}

.btn-remove-row{
  margin-top: 34px;
}

/* ---------------------------------------------------
    FILEINPUT STYLE
----------------------------------------------------- */
.file-preview{
  background-color: rgba(235,138,21,.45);
}
.file-caption .file-caption-name::-webkit-input-placeholder{
  color: #fff;
}
.btn-primary,
.btn-kv{
  border-color: #eb8a15;
  background-color: #eb8a15;
  color: #ffffff;
}

.btn-primary:hover,
.btn-kv:hover,
.btn-secondary:hover{
  border-color: #ffffff;
  background-color: transparent;
  color: #ffffff;
}

.btn-secondary{
  border-color: #ec8b15;
  color: white;
  background-color: rgba(235,138,21, .3);
}

.down-files,
.slack .text{
  display: inline-block;
}

/* ---------------------------------------------------
    Comments STYLE
----------------------------------------------------- */
.add-comment textarea.form-control{
  height: 70px;
}

.comments{
  background-color: rgba(255,90,9, 0.55);
  padding: 20px;
  border-radius: 5px;
}

.head-comment .author{
  display: inline-block;
  padding-right: 10px;
  font-size: 18px;
}

.i-author{
  background: #d78822;
  border-radius: 5px;
  padding: 5px;
  margin-left: 20%;
}

.comment{
  color: white;
  padding-left: 30px;
  padding-top: 5px;
}

.another-author{
  background-color: #717070;
  padding: 10px;
  border-radius: 5px;
  margin-right: 20%;
}

.comment-del{
  float: right;
}

.head-comment{
  border-bottom: 1px solid #bf6644;
}

.ui-autocomplete{
  z-index: 9999999999 !important;
}

/* ---------------------------------------------------
    KANBAN TASKS STYLE
----------------------------------------------------- */

.kanban-container{
  margin: 0 auto;
}
.kanban-board{
  background-color: rgba(255,90,9, .6) !important;
}

.info{
  background: rgb(248, 152, 2, .55) !important;
}

.kanban-item{
  background: rgba(57,57,57,.5) !important;
  color: #fff;
  font-weight: bold;
}

.card-text {
  font-size: 12px;
  color: #ffffff;
}

.text-muted{
  color: #d78822
}

.item-attach{
  text-align: center;
  padding: 5px;
  background: #d78822;
  margin-top: 2px;
}

.item-attach a,
.card-body{
  word-wrap: break-word;
}
/* FIN NUEVO ESTILO DEL SITIO*/

.left-side{
  position: relative;
  min-height: 100vh;
  text-align: center;
  background: url('../img/body-compressor.png') no-repeat;
  background-size: cover;
}

.left-side header span{
  padding-top: 50px;
  margin-bottom: 6px;
  display: block;
  font-family: 'appNameFont';
  font-size: 50px;
  letter-spacing: 0.12em;
  color: #F2F3F4;
}

.left-side header h3{
  margin: 0;
  font-family: 'appNameFont';
  font-size: 40px;
  color: #F2F3F4;
  line-height: 200px;
  font-weight: 400;
}

.left-side header h3 a{
  margin: 0;
  font-family: 'appNameFont';
  font-size: 40px;
  color: #F2F3F4;
  line-height: 200px;
}

.left-side header h4{
  font-family: 'appNameFont';
  font-size: 35px;
  color: #F2F3F4;
}

.right-side{
  position: relative;
  padding: 70px 90px 100px 120px;
  height: 100vh;
  background: #FDFEFE;
}

.right-side legend{
  font-family: 'appNameFont';
  font-size: 30px;
  text-align: center;
}

.right-side .form-group{
  margin: 0;
  padding: 0;
}

.right-side input {
  display:block;
  margin-top: 10px;
  margin-bottom: 20px;
  text-decoration-color: #2C3E50;
  border:none;
  border-radius: 0;
  border-bottom:1px solid #AEB6BF;
  -webkit-appearance: none;
  font-family: 'appNameFont';
}

.right-side input::-webkit-input-placeholder{
  color: #636363;
}

.right-side button {
  float: right;
  padding: 13px 25px;
  border: none;
  color: #fff;
  display: inline-block;
  background: #34495E;
  font-family: 'appNameFont', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.12em;
  border-radius: 24px;
}

#accordion-menu li a {
    display: block;
    padding: 10px 15px;
}
#accordion-menu li ul {
    list-style: none;
    display: none; // used to hide sub-menus
}
#accordion-menu li ul li a {
    padding: 10px 25px;
}

.container-button{
  width:90px;
  height:240px;
  position:absolute;
  right:0px;
  bottom:60px;
}

.botonF1{
  width:60px;
  height:60px;
  border-radius:100%;
  background:#C0C0C0;
  right:0;
  bottom:0;
  position:absolute;
  margin-right:16px;
  margin-bottom:16px;
  border:none;
  outline:none;
  color:#FFF;
  font-size:36px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition:.3s;
}
span{
  transition:.5s;
}
.botonF1:hover span{
  transform:rotate(360deg);
}
.botonF1:active{
  transform:scale(1.1);
}

.animacionVer{
  transform:scale(1);
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

#btnAddMilestone {
  margin-bottom: 10px;
  float: right;
}

#btnAddTask{
  margin-bottom: 10px;
  float: right;
}

.sm-users {
  margin-bottom: 10px;
}

.formInvoiceModal {
  margin-bottom: 5px;
}

ol, ul {
	list-style: none;
}

.info-project{
  border-radius: 15px;
  margin-bottom: 10px;
}

.zoom {
  position: fixed;
  bottom: 45px;
  right: 24px;
  height: 70px;
}

.zoom-fab {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #009688;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  transition: 0.2s ease-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: #FFF;
}

.zoom-fab:hover {
  background-color: #4db6ac;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.zoom-btn-large {
  width: 60px;
  height: 60px;
  line-height: 60px;
}

.zoom-menu {
  position: absolute;
  right: 70px;
  left: auto;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 500px;
  list-style: none;
  text-align: right;
}

.zoom-menu li {
  display: inline-block;
  margin-right: 10px;
}

.zoom-card {
  position: absolute;
  right: 150px;
  bottom: 70px;
  transition: box-shadow 0.25s;
  padding: 24px;
  border-radius: 2px;
  background-color: #009688;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  color: #FFF;
}

.zoom-card ul {
  -webkit-padding-start: 0;
  list-style: none;
  text-align: left;
}

.scale-transition { transition: transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important; }

.scale-transition.scale-out {
  transform: scale(0);
  transition: transform 0.2s !important;
}

.scale-transition.scale-in { transform: scale(1); }

.ddPaid {
  float: right;
  margin-left: 5px;
}

.form-check {
  margin-top: 20px;
}

.dvRbInvoices label{
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  cursor: pointer;
}

.rbInvoices {
  padding-right: 20px;
}

#itemLegend {
  margin-top: 30px;
  margin-bottom: 20px;
}

textarea {
  resize: none;
}

#modalAddParametrization .modal-footer{
  border-top: none;
}

.gantt-container{
  margin: 0 auto;
  overflow: scroll;
}

.gantt .bar-milestone .bar-progress {
  fill: tomato;
}

/*#gantt{
  pointer-events: none;
}*/

.btn-dd{
  text-decoration: none !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: 'titleFont';
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.delete-dd{
  text-indent: 5px;
}

.permissions {
  margin-bottom: 10px;
}

.table-container{
  border-radius: 10px;
  box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
  max-width: calc(100% - 2em);
  margin: 1em auto;
  overflow: hidden;
  float: none;
}

.table-dashboard{
  width: 100%;
  overflow: auto;
}

.table-dashboard td {
  text-align: center;
  vertical-align: middle;
}

.table-dashboard th {
  text-align: center;
  vertical-align: middle;
}

hr {
  border : 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}

.select-options{
  margin-bottom: 30px;
}

#downloadButton{
  float: right;
  margin-top: 40px;
  margin-bottom: 30px;
}

.date-filter{
  display: none;
}

.separator{
  color: #ffffff;
  margin: 0px 10px;
}

.invoice-panel{
  margin-top: 25px;
  float: right;
}

.alert button.close{
  position: inherit;
  margin-top: 0px;
  background-color: transparent;
}

.iconInvoice{
  padding-right: 57px;
}

.delete-account{
  margin-top: 10px;
}

.info {
  background: #34495E;
}

.warning {
  background: #2A92BF;
}

.success {
  background: #28B463;
}

.pop-up{
  display: none;
  position: fixed;
  top: 20%;
  left: 35%;
  width: 35%;
  height: 50%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 5px #34495E;
}

.pop-up div span {
  cursor: pointer;
  position: absolute;
  top: 2%;
  right: 2%;
  border-radius: 50px;
  color: #99A3A4;
  padding: 6px 0px 0px 9px;
  width: 30px;
  height: 30px;
}

.kanban-item{
  cursor: pointer;
}

.notifications{
  overflow-y: auto;
  ul{
    min-width: 350px;
  }
    li{
      a.item {
        display: block;
        padding: 5px 10px;
        margin: 3px 0;
      }
    .item:hover{
      background-color: #f3f3f3;
    }
    .item::after{
      visibility: hidden;
      display: block;
      font-size: 0;
      content: ' ';
      clear: both;
      height: 0;
    }
    .item-right{
      float: right;
      font-size: 21px;
      margin-top: 6px;
      color: #d7d7d7;
    }
  }
}

.divisor{
  border-bottom: 1px solid #d8d8d8;
}

.unread{
  background-color: #cedfea;
}

.btn-index{
  border-width: 0;
  border-color: inherit;
}

.loader-container{
  background: rgba(0,0,0,.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
}

.loader {
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: #FFF;
  letter-spacing: 0.2em;
}

.loader::before,
.loader::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #FFF;
  position: absolute;
  animation: load .7s infinite alternate ease-in-out;
}

.loader::before {
  top: 0;
}

.loader::after {
  bottom: 0;
}

@keyframes load {
  0% { left: 0; height: 30px; width: 15px }
  50% { height: 8px; width: 40px }
  100% { left: 235px; height: 30px; width: 15px}
}

.fr-box{
  margin-bottom: 20px;
}

.wysywig-editor{
  margin-top:20px;
}
