.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #5D6975;
  text-decoration: underline;
}

body {
  position: relative;
  width: 21cm;
  height: 29.7cm;
  margin: 0 auto;
  color: #001028;
  background: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-family: Arial;
}

header {
  padding: 2px 0;
  margin-bottom: 0;
}

#logo {
  text-align: center;
}

#logo img {
  width: 90px;
}

.header-table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

.header-table tr:nth-child(2n-1) td {
    background: transparent;
}

.header-table .orgInfo{
  text-align: left;
}

h1 {
  border-top: 1px solid  #5D6975;
  border-bottom: 1px solid  #5D6975;
  color: #5D6975;
  font-size: 2.4em;
  line-height: 1.4em;
  font-weight: normal;
  text-align: center;
  margin: 0 20px 20px 20px;
}

#project {
  float: left;
}

#project span {
  color: #5D6975;
  text-align: right;
  width: 52px;
  margin-right: 10px;
  display: inline-block;
  font-size: 1em;
}

#company {
  float: left;
  text-align: left;
  display: inline-block;
}

#project div,
#company div {
  white-space: nowrap;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

.description table tbody tr:nth-child(2n-1) td {
  background: #F5F5F5;
}

.description table tfoot{
  background: #F5F5F5;
  text-decoration: overline;
}

table th,
table td {
  text-align: center;
}

table th {
  padding: 5px 20px;
  color: #FFF;
  border-bottom: 1px solid #C1CED9;
  white-space: nowrap;
  background-color: #e00044;
  text-align: center;
}

table .service,
table .desc {
  text-align: center;
}

table td {
  padding: 10px;
  text-align: right;
}

table td.service,
table td.desc {
  vertical-align: top;
}

table td.unit,
table td.qty,
table td.total {
  font-size: 1.2em;
}

.description table tr td{
  text-align: center;
}

.description table tbody tr:last-child{
  border-bottom: 1px solid  #5D6975;
}

table td.grand {
  border-top: 1px solid #5D6975;
}

.description table tbody{
  border-bottom: 1px solid #010f29;
}

.tfoot .total{
  text-align: right;
}

.description{
  margin-left: 20px;
  margin-right: 20px;
}
#notices .notice {
  color: #5D6975;
  font-size: 1.2em;

}

#notices .notice h4{
  padding-bottom: 0;
}

#descr{
  margin-left: 20px;
}

footer {
  color: #5D6975;
  width: 85%;
  height: 30px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #C1CED9;
  padding: 8px 0;
  text-align: center;
  margin: 0 20px 0 20px;
}

.header-container ul{
  margin-inline-start: 40px;
}
