/*Buttons*/
.btn{
  margin: 0 5px;
}

.action-btn{
  background: $gray-btn;
  color: $white !important;
}

.resend-btn{
  background: $purple;
  color: $white !important;
}

.plus-btn{
  background: $purple;
  color: $white;
  padding: 8px 10px;
  font-size: 14px;
  border-radius: 120px;

  &:hover {
    background: darken($purple,5%);
    color: $white;
  }
}

.btn-go-back{
  background: $purple;
  color: $white;
  margin-bottom: 20px;
  margin-left: 0;

  &:hover {
    background: darken($purple, 5%);
    color: $white;
  }
}

.note-btn{
  color: $different-black;
}

.edit-btn{
  background: $purple;
  color: $white !important;
}

.delete-btn{
  background: $pink;
  color: $white !important;
}

.download-btn{
  background-color: $light-blue;
  color: $white !important;
  border-color: $light-blue;

  img{
    vertical-align: -3px;
  }

  &:hover{
    color: $light-blue !important;
  }
}

.btn.ddPaid.btn-form{
  background: $light-blue;
}

.page-users .btn-form {
  background-color: #FF9900;
  color: #FFFFFF;
  border: 1px solid #FF9900;

  &:hover {
    background-color: darken(#FF9900, 5%);
    color: #FFFFFF;
  }
}

.add-link{
  color: $purple;
  font-size: 20px;

  .plus-btn {
    margin-right: 8px;
  }


  &:hover{
    color: darken($purple, 5%);
  }
}

button.typeInvoice {
  color: $black;
}

.iconInvoice {
  padding: 0
}
