body.session-body{
  background: url('../img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

html{
  min-height: 100%;
}

body.crm-body{
  background: $white;
  font-family: 'Barlow Semi Condensed', sans-serif;
  min-height: 100vh;

  .wrapper{
    min-height: 100vh;
  }

  .dropdown-toggle::after{
    display: none;
  }

  .content{
    background: $bg-gray;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .row.spacer-30{
    height: 30px;
  }
}


.main-content-wrapper {
  background: $white;

  border-radius: 16px;
  padding-top: 20px;
  padding-bottom: 20px;

  &.form-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;

    input, label {
      color: $black;
    }

    .button-wrapper {
      overflow: hidden;
      margin-top: 12px;
    }

    .btn {
      border: 0 none;

      &.btn-default {
        font-size: 20px;
        padding: 10px 60px;

        background: $green-success;
        border: 0 none;

        &:hover {
          background: darken($green-success, 5%);
        }
      }

      &.close {
        background: transparent;
        padding: 0;

        .fa {
          color: $black
        }

        &:hover {
          background: transparent;
        }

      }
    }


  }

  &.project {
    padding-top: 20px;
    padding-bottom: 20px;

    table tr th, table tr td, table tr td a {
      font-size: 16px
    }
  }

  h4 {
    color: $black;
  }

  .formMilestone {
    background: $white;

    box-shadow: 0 0 10px rgba(0,0,0, .1);

    margin: 36px 0;

    legend {
      color: $black;
    }
  }
}

#btnAddMilestone, #btnAddTask {

  background: $purple;

  &:hover {
    background: darken($purple, 5%);
  }
}

#page-title {
  font-size: 32px;
}

.footer {
  display: none
}

.zoom {
  bottom: 2px;

  .zoom-fab {
    background: $purple !important;
    color: $white;

    &:hover {
      background: darken($purple, 5%) !important;
    }

  }
}

table tr th, table tr td, table tr td a {
  color: $black
}



.alert {

  &.info-project {

    position: static;
    left: 0;
    width: 100%;
    top: 0;

  }
}
