.session-container{
  height: 100vh;

  .form-session{
    background: $white;
    padding: 40px 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 720px;

    legend{
      margin-bottom: 30px;
    }

    form{
      width: 100%;
      max-width: 420px;
      margin: 0 auto;

      .row {
        margin-left: 0;
        margin-right: 0;
      }

      .col-form-input {
        max-width: 335px;
        padding: 0;
      }

      .col-form-label {
        max-width: none;
        width: 85px;
        flex: 0 0 85px;
        padding: 0;
        padding-right: 20px;
      }

      .col-form-forgot {
        padding-left: 85px;
      }

      .col-form-button {
        padding: 0;
        max-width: none;
        flex: 0 0 106px;
        width: 106px;

        .btn {
          margin: 0;
        }
      }

      .form-group-btn {
        justify-content: space-between;

        &.form-group-btn-end {
          justify-content: flex-end;
        }
      }

      .form-group {
        margin-bottom: 20px;

        .form-group {
          margin: 0;
        }
      }

      label{
        font-size: 16px;
        line-height: 24px;
        padding-top: 0px;
        text-align: right;
      }

      input, input:-internal-autofill-selected {
        background-color: $gray !important;
        border-radius: 0;
        border: 0 none;
        border-bottom: 1px solid #333333;
        height: 24px;
        padding: 4px 5px;
      }

      button{
        background: $purple;
        color: $white;
        border: none;
        padding: 0 10px;
        font-size: 14px;
        line-height: 24px;
        width: 100%;
        float: right;

        &:hover {
          background: darken($purple, 10%);
        }
      }

      a{
        font-size: 12px;
        color: $black;
      }


    }
  }
}
