.swal-modal{
  background-color: $white;

  .swal-title,
  .swal-text{
    color: $different-black;
  }

  .swal-footer{
    text-align: center;

    .swal-button.swal-button--cancel{
      background-color: $red;
      color: $white;

      &:hover {
        background: darken($red, 5%);
      }
    }

    .swal-button.swal-button--confirm{
      background-color: $green-success;
      color: $white;

      &:hover {
        background: darken($green-success, 5%);
      }

    }

    .swal-button{
      padding: 5px 30px;
    }
  }
}

.modal-content {
  .modal-title, label {
    color: $black;
  }

  .modal-header {
    border-bottom-color: #ced4da;

    .btn-info.btn-circle {
      background: $green-success;

      &:hover {
        background: darken($green-success, 5%);
        border: 0 none;
        color: $white;
      }
    }
  }

  .modal-body {
    .formInvoiceModal.quote-item {
      display: flex;
      align-items: flex-end;
    }
  }

  .modal-footer {
    border-top-color: #ced4da;

    .btn {
      border: 0 none;

      background: $red;

      &:hover {
        background: darken($red, 5%);
      }

      &#btnSaveAll {
        background: $green-success;

        &:hover {
          background: darken($green-success, 5%);
        }
      }
    }
  }

  input {
    border-color: #ced4da;
  }
}
