.main-content-wrapper {
  padding: 24px;
}

.timesheets-details-admin {
    margin: 0px 0px 20px 0;

  label,
  select {
    color: #000;
  }

  .hours h3,
  .hours .hours-details {
    display: inline-block;
  }
  .hours h3 {
    color: #000;
    font-size: 20px;
    font-weight: bold;
  }
  .hours .hours-details {
    background: #808080;
    color: #FFF;
    padding: 5px 50px 5px 15px;
    margin-left: 10px;
    font-size: 18px;
    text-transform: uppercase;
  }
  .timesheets-date {
    display: inline-block;
    margin: 0 5px;

    #enddateTimesheet,
    #startdateTimesheet {
      width: 100px;
      color: #000;
    }
  }

  .filter-all {
    padding-left: 0
  }

}

#form-timesheet {

  input[type=text],
  input[type=number],
  select {
    border-color: #ced4da;
    height: 36px;
  }
  textarea {
    border-color: #ced4da;
  }
  .radio-type-container {
    display: inline-flex;
    align-items: baseline;
  }
  .radio-type-container label {
    margin: 0 10px;
  }
  legend {
    border-bottom: 1px solid #674187;
  }

}

#timesheetTable .cap-text {
  text-transform: capitalize;
}


.table {
  td, th, a {
    font-size: 14px;
  }

  .btns-wrapper a {
    font-size: 12px
  }
}


.page-timesheets {
  #form-timesheet .footable-filtering-search {
    top: -24px;
  }

  #filter-timesheets .form-group {
    width: 60%;
    display: inline-block;
  }
}

.feedback_estimated {
  font-size: 18px;
  font-weight: bold;

  #hour_estimated {
    color: #674187;
    font-weight: bold;

    &.exceed {
      color: #DD001D;
    }
  }
}

.items-count {
    width: 50px;
    color: #000;
    margin: 0 auto;
    height: 24px !important;
}




.hours {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;

  .download-btn {
    margin-right: 0;
    line-height: 1.95
  }
}




.btn.btn-default.btn-form{
  background: $green-success;
  color: $white;
  border: 0 none;
  padding: 10px 30px;
  font-size: 20px;
  margin-right: 0;

  &:hover {
    background: darken($green-success, 5%);
  }
}

.footable-filtering {
  .form-inline {
    display: flex;
    justify-content: flex-end;
  }

  .footable-filtering-search {
    margin-bottom: 16px;
  }

  .table {
    th, td {
      font-size: 14px;

    }

    &.footable .footable-filtering {
      & > th {
        padding-right: 12px;
      }
    }
  }


}

.quote-form-container {
  .add-forms-container {

      padding: 0;

  }
}

.small-view {

  th, td, td a {
    font-size: 16px;
  }

  th {
    text-align: right;
    width: 160px;

    .project & {
      width: 120px;
    }

    .page-users & {
      width: 140px;
    }

  }

  &.invoices-table {
    th {

      width: 130px;



    }
  }
}

.table.footable, .table {
  tr {
    th, td, td a {

    }
  }

  th.center-col, td.center-col {
    text-align: center
  }
}


.contacts-info {
  margin-top: 36px;
}


#table-contacts-view th {
  text-transform: none
}


.radio-inline {
  margin-left: 20px;
  font-weight: 300;

  &:first-child {
      margin-left: 0;
  }

  input {
    margin-right: 10px;
  }
}
