.quotes-container{
  

  .bg-white-container{
    background: $white;
    padding: 24px;
    border-radius: 10px;

    a.add-link{
      color: $purple;
      font-size: 20px;
    }

    .info-invoicing{
      h4{
        color: $different-black;
        font-size: 18px;
        display: inline-block;
        margin-left: 30px;
        font-weight: bold;
      }

      span{
        font-size: 16px;
        font-weight: lighter;
      }
    }

    #invoicesAssembleTable{
      .overdueInvoice{
        background: $red;
        td{
          color: $white;
        }
      }

      .discardInvoice{
        background: $bg-gray;
        td{
          color: $white;
        }
      }
    }
  }

  .nav-tabs{
    border-bottom: 1px solid $purple;
    margin-top: 40px;
  }

  .nav-item{
    border-bottom: 1px solid $purple;
  }

  .nav-link{
    border: 2px solid $purple;
    border-bottom: 0;
    background: $white;
    color: $purple;
    margin-right: 15px;

    &.active{
      background: $purple;
      color: $white;
      border-color: $purple;
    }
  }

  table{
    margin: 20px 0;

    a{
      color: $different-black;
    }
  }

  .filter-column{
    label,
    input,
    select{
      color: $different-black;
    }

    input,
    select{
      height: 24px;
      padding: 0;
    }

    button{
      margin-top: 24px;
    }

    .form-group{
      display: inline-block;
      margin-right: 15px;
      float: right;
      margin-bottom: 0;
    }
  }
}

.quote-form-container{

  .add-forms-container{

    label,
    .form-control,
    legend{
      color: $black;
      font-weight: normal;
      font-size: 18px;
    }

    legend{
      font-size: 20px;
    }

    textarea{
      height: 86px;
    }

    .plus-btn{
      padding: 0;
    }

    .header-items{

    }

    #rowItems{
      input{

      }

      .form-control{
        display: initial;
      }
    }

    .subtotal-content{
      text-align: right;

      .input-group{
        margin-left: auto;
        margin-right: 0;
        margin-top: 17px;
        width: 40%;

        .input-group-text{
          background: $purple;
          color: $white;
          border-color: $purple;
          font-weight: bold;
          border-radius: 0;
        }
      }

      #subtotalInvoice,
      #subtotalAssets,
      #subtotalETA{
        width: 30%;
        margin: 0 auto;
        background: $purple;
        color: $white;
        border-color: $purple;
        border-radius: 0;
      }
    }

    .btn-form{
      background: $green-success;
      color: $white;
      border: 0 none;
      padding: 10px 60px;
      font-size: 20px;
      margin-right: 0;

      &:hover {
        background: darken($green-success, 5%);
      }
    }
  }
}

.view-container{
  background: $white;
  margin-left: 20px;
  margin-right: 20px;
  padding: 40px 10px;
  border-radius: 15px;

  h2{
    font-size: 20px;
    color: $different-black;
  }

  .table-view{
    th,
    td,
    a{
      color: $different-black;
      font-size: 14px;
    }
  }

  .table-components{
    thead{
      border-bottom: 2px solid $different-black;
    }
    th{
      text-transform: uppercase;
      font-weight: normal;
      font-size: 14px;
    }
  }
}

.popover {
  display: none;
}
