#filter-timesheets{
  margin: 0;
  #filter-panel{
    width: 100%;
  }

  .btn{
    background: $purple;
    border-color: $purple;
    margin-right: 0;
    margin-left: auto;
    max-width: 150px;
    font-size: 14px;
    padding: 3px 8px;
  }
}

.reports {
  .row {
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }
  }

  .quote-form-container {
    .add-forms-container {
      background: $white;
      padding: 15px;
      border-radius: 10px;

    }
  }

  table {
    margin-bottom: 0
  }
}

.scroll-wrapper {
  max-height: 500px;

  overflow: auto;

  padding-right: 16px;


  .simplebar-track.simplebar-vertical {
    background-color: rgb(240, 239, 239);
    top: 0;
    height: 500px;
    width: 10px !important;
  }
  .simplebar-scrollbar {
    background-color: rgb(205, 204, 204);
    width: 10px !important;
    right: 0px !important;
  }
  .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
    display: none !important;
  }
}
