#sidebar{
  background: url('../img/crmsidebar.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 150px;
  min-width: 150px;
  border: 0;

  .sidebar-header{
    padding: 20px;
  }

  .list-unstyled.components{
    border: 0;
    padding: 70px 0;
    li{
      width: 100%;
      padding: 10px;

      a{
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-size: 14px;
        display: inline;
        vertical-align: -3px;
      }

      &.active{
        background: $whiteWithOpacity;
      }
    }
  }

  .list-unstyled.collapse{
    li{
      a{
        padding: 0;
        padding-left: 5px;
      }
    }
  }
}

.navbar-nav{
  li{
    margin: 10px;

    .dropdown-toggle.new-items{
      border-radius: 100%;
      border: 2px solid $different-black;
      padding: 4px 9px;
      color: $different-black !important;
    }

    .dropdown-menu{
      background: $purple;
      right: 0;
      left: auto;
      a{
        color: $white;
      }

      .dropdown-item{
        &:hover{
          background: $whiteWithOpacity;
          color: $white;
        }
      }
    }

    img{
      vertical-align: -15px;
    }

    #sessionDropdown{
      padding-top: 0;
    }

    .profile-link{
      margin-left: 150px;
    }
  }
}
