
.footable-header{
  th{
    color: $black;
    text-transform: uppercase;
    font-weight: normal;
    width: 80px;
    max-width: 80px;
    min-width: 80px;
  }
}

.footable{
  thead{
    border-bottom: 2px solid $different-black;
  }

  td{
    color: $black;
    vertical-align: middle;
  }
}

/** Pagination **/
tr.footable-paging{
  .footable-pagination-wrapper{
    ul.pagination{
      display: flex;
      justify-content: flex-end;
    }

    .footable-page,
    .footable-page-nav{
      a.footable-page-link{
        padding: 5px 10px;
      }
    }

    .footable-page.active{
      a.footable-page-link{
        background: $purple;
        color: $white;
      }
    }
  }

  td{
    padding-top: 25px !important;
  }
}

/** Filtering **/
.footable-filtering{
  .form-inline{
    .form-group.footable-filtering-search{


      input{
        height: 24px !important;
      }

      button{
        height: 24px;
        margin: 0;

        .caret,
        .fooicon-search{
          margin-top: -9px;
        }
      }

      .btn.btn-primary{
        display: none;
      }

      .btn.btn-default.dropdown-toggle{
        background: $gray-btn;
        color: $white;
      }

      .dropdown-menu.dropdown-menu-right{
        label{
          color: $black;
        }

        input[type=checkbox]{
          margin-top: 0;
        }
      }
    }
  }
}

#invoicesIndexTable{
  .selected{
    background-color: $purpleWithOpacity;
    td{
      color: $white;

      .edit-btn{
        border-color: $white !important;
      }
    }
  }
}

.table-responsive {
  thead > tr > th, tbody > tr > th,
  tfoot > tr > th, thead > tr > td,
  tbody > tr > td, tfoot > tr > td {
    padding: 9px 8px;
  }

  .table-striped>tbody>tr:nth-of-type(odd){
    background: $gray-table;
  }

  .actions {
    width: 120px;
    max-width: 120px;
    min-width: 120px;

    .page-projects & {
      width: 140px;
      max-width: 140px;
      min-width: 140px;

    }
  }

  a {
    color: $black;
  }



  .footable {
    .footable-pagination-wrapper {
      display: flex;
      justify-content: space-between;

      .label.label-default {
        order: -1
      }

      .pagination {
        order: 2
      }
    }

    .pagination {
      margin: 0;

      & > li {
        margin-left: 4px;
        &:first-child {
          margin-left: 0
        }

        & > a, & > span {
          display: inline-block;
          background: $pagination-gray;
          color: $purple;

          &:hover {
            background: darken($pagination-gray, 5%);
          }

          &.footable-page-link {
            padding: 4px 10px;
          }
        }
      }
    }
  }
}

.items-count{
  width: 50px;
  color: $black;
  margin: 0 auto;
  height: 24px !important;
}


table tr th, table tr td, table tr td a {
    border: none !important;
    font-size: 12px;
}

.btns-wrapper {
  a, button.btn {
    color: $white;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 3px;

    &:hover {
      text-decoration: none;

    }

    &.btn-view {
      $color: $gray-btn;

      background: $color;
      color: $white;

      &:hover {
        background: darken($color, 10%);
      }
    }

    &.btn-edit {
      $color: $purple;

      background: $color;
      color: $white;

      &:hover {
        background: darken($color, 10%);
      }
    }

    &.btn-delete {
      $color: $red;

      background: $color;
      color: $white;

      &:hover {
        background: darken($color, 10%);
      }
    }

    &.btn-finish {
      $color: $green-success;

      background: $color;
      color: $white;

      &:hover {
        background: darken($color, 10%);
      }
    }

    &.btn-reopen {
      $color: $orange;

      background: $color;
      color: $white;

      &:hover {
        background: darken($color, 10%);
      }
    }
  }
}

.underline-thead {
  thead {
      border-bottom: 2px solid #333;
  }
}


#invoicesIndexTable {
  .footable-last-visible {
    width: 210px;

    .btn {
      font-size: 12px;
    }
  }

  th, td {
    &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7) {
      text-align: center;
    }
  }
}
