.timesheets-details-admin{
  margin: 0px 0px 20px 0;
  label,
  select{
    color: $black;
  }

  .hours{
    h3,
    .hours-details{
      display: inline-block;
    }

    h3{
      color: $black;
      font-size: 20px;
      font-weight: bold;
    }

    .hours-details{
      background: $gray-btn;
      color: $white;
      padding: 5px 50px 5px 15px;
      margin-left: 10px;
      font-size: 18px;
      text-transform: uppercase;
    }
  }

  .timesheets-date{
    display: inline-block;
    margin: 0 5px;

    #enddateTimesheet,
    #startdateTimesheet{
      width: 100px;
      color: $black;
    }
  }
}

#form-timesheet{
  input[type="text"],
  input[type="number"],
  select{
    border-color: $purple;
    height: 36px;
  }

  textarea{
    border-color: $purple;
  }

  .radio-type-container{
    display: inline-flex;
    align-items: baseline;

    label{
      margin: 0 10px;
    }
  }

  legend{
    border-bottom: 1px solid $purple;

    margin-bottom: 24px;
  }
}

#timesheetTable{
  .cap-text{
    text-transform: capitalize;
  }
}

.page-timesheets{
  #form-timesheet{
    .footable-filtering-search{
      top: -24px;
    }
  }

  #filter-timesheets{
    .form-group{
      width: 60%;
      display: inline-block;
    }
  }
}

.feedback_estimated{
  font-size: 18px;
  font-weight: bold;

  #hour_estimated{
    color: $purple;
    font-weight: bold;

    &.exceed{
      color: $red;
    }
  }
}
