$white: #FFF;
$light-gray: #E6E6E6;
$bg-gray: #EBEBEB;
$gray-table: #F2F2F2;
$gray-btn: #808080;
$different-black: #333333;
$purple: #674187;
$black: #000;
$whiteWithOpacity: rgba(255,255,255,.25);
$purpleWithOpacity: rgba(103,65,135,.8);
$pink: #FF0043;
$light-blue: #4BA6CE;
$green-success: #39B54A;
$red: #DD001D;
$gray: #CCCCCC;
$orange: #FF9900;
$pagination-gray: #D8D8D8;
